<section class="main-section">
    <h2 class="main-section__title">Почему мы — лучший выбор?</h2>
    <div class="main-section__cards">
        <div class="main-card__large main-card-1">
            <div class="main-card__image">
                <svg
                    width="164"
                    height="167"
                    viewBox="0 0 164 167"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1.00005 117V146.5C1.00005 157.546 9.95435 166.5 21 166.5H51.5"
                        stroke="currentColor"
                    />
                    <path
                        d="M7.88547 89.5951L7.81075 27.0116C7.79753 15.9451 16.7736 6.97145 27.8401 6.98769L138.293 7.14986C149.318 7.16604 158.251 16.1011 158.264 27.126L158.397 139.135C158.411 150.201 149.435 159.175 138.368 159.158L27.9151 158.996C16.8902 158.98 7.95764 150.045 7.94449 139.02L7.88547 89.5951Z"
                        stroke="currentColor"
                    />
                    <path
                        d="M163.5 51.5V21.1267C163.5 10.1134 154.596 1.17254 143.583 1.12686L113 1"
                        stroke="currentColor"
                    />
                    <path
                        d="M51 153.5H130.5C141.546 153.5 150.5 144.546 150.5 133.5V52"
                        stroke="currentColor"
                    />
                    <path
                        d="M13.9767 117.49L13.9801 33.951C13.9805 22.906 22.9342 13.9523 33.9792 13.9518L114.981 13.9484"
                        stroke="currentColor"
                    />
                    <path
                        d="M111.906 46.6313C111.387 46.6813 110.787 46.8751 110.312 47.1438C109.631 47.5313 109.162 48.0876 107.769 50.1563C107.044 51.2188 105.625 53.3188 104.612 54.8126C101.981 58.7001 94.0812 70.3501 85.5 83.0001C81.4312 89.0001 77.575 94.6938 76.9187 95.6563C76.2687 96.6188 75.7187 97.4188 75.7062 97.4376C75.6937 97.4501 72.15 93.9313 67.825 89.6188C59.4 81.2063 59.6937 81.4813 58.75 81.1813C58.4812 81.0938 58.1062 81.0376 57.6562 81.0188C56.825 80.9813 56.4062 81.0688 55.625 81.4438C55.0937 81.7001 55.075 81.7188 51.6812 85.1188C48.2625 88.5313 48.2625 88.5313 48.0125 89.0626C47.3625 90.4251 47.4562 91.9626 48.2562 93.1563C48.475 93.4751 51.7812 96.8188 60.7312 105.756C73.8375 118.85 73.1687 118.213 74.4687 118.863C75.9062 119.575 77.4875 119.813 78.7125 119.5C79.7875 119.225 80.9375 118.513 81.7937 117.6C82.1062 117.269 84.3812 113.963 89.7812 105.988C93.9375 99.8626 99.8 91.2126 102.806 86.7813C105.812 82.3438 110.281 75.7501 112.737 72.1251C115.2 68.5001 118.444 63.7126 119.95 61.4938C121.456 59.2688 122.769 57.2813 122.875 57.0751C123.131 56.5563 123.256 55.9626 123.256 55.2876C123.25 54.5876 123.137 54.1251 122.806 53.4438C122.362 52.5438 122.112 52.3376 118.162 49.6563C116.244 48.3501 114.475 47.1751 114.231 47.0501C113.569 46.7001 112.737 46.5501 111.906 46.6313Z"
                        fill="currentColor"
                    />
                </svg>
            </div>
            <div class="main-card__content">
                <h3 class="main-card__title">Гарантия качества</h3>
                <p class="main-card__text">
                    Все репетиторы проходят строгую проверку: проверяются их квалификация,
                    опыт работы и отзывы от предыдущих учеников
                </p>
            </div>
        </div>
        <div class="main-card main-card-2">
            <div class="main-card__top">
                <div class="main-card__icon">
                    <svg viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.999974 37.4456V42.9979C0.999974 48.5207 5.47713 52.9979 11 52.9979H16.8665"
                            stroke="currentColor"
                        />
                        <path
                            d="M3.16318 28.8354L3.14416 12.8985C3.13755 7.36528 7.62559 2.87847 13.1588 2.88659L40.4293 2.92663C45.9418 2.93472 50.4081 7.40222 50.4147 12.9147L50.4478 40.6739C50.4544 46.2072 45.9664 50.694 40.4331 50.6859L13.1626 50.6458C7.65016 50.6377 3.18388 46.1702 3.1773 40.6578L3.16318 28.8354Z"
                            stroke="currentColor"
                        />
                        <path
                            d="M52.0557 16.8665V11.0244C52.0557 5.51772 47.6038 1.04731 42.0972 1.02447L36.1892 0.999959"
                            stroke="currentColor"
                        />
                        <path
                            d="M16.7092 48.914H37.9709C43.4938 48.914 47.9709 44.4369 47.9709 38.914V17.0239"
                            stroke="currentColor"
                        />
                        <path
                            d="M5.07737 37.6L5.07828 15.069C5.07851 9.54649 9.55534 5.06966 15.0779 5.06943L36.8118 5.06851"
                            stroke="currentColor"
                        />
                        <rect x="35" y="14" width="8" height="32" fill="currentColor" />
                        <rect x="22" y="30" width="8" height="16" fill="currentColor" />
                        <rect x="9" y="22" width="8" height="24" fill="currentColor" />
                    </svg>
                </div>
                <h3 class="main-card__title">Отзывы и рейтинги</h3>
            </div>
            <p class="main-card__text">
                Рейтинги и отзывы от реальных учеников,
                что помогает сделать осознанный выбор
            </p>
        </div>
        <div class="main-card main-card-3">
            <div class="main-card__top">
                <div class="main-card__icon">
                    <svg viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.999974 37.4456V42.9979C0.999974 48.5207 5.47713 52.9979 11 52.9979H16.8665"
                            stroke="currentColor"
                        />
                        <path
                            d="M3.16318 28.8354L3.14416 12.8985C3.13755 7.36528 7.62559 2.87847 13.1588 2.88659L40.4293 2.92663C45.9418 2.93472 50.4081 7.40222 50.4147 12.9147L50.4478 40.6739C50.4544 46.2072 45.9664 50.694 40.4331 50.6859L13.1626 50.6458C7.65016 50.6377 3.18388 46.1702 3.1773 40.6578L3.16318 28.8354Z"
                            stroke="currentColor"
                        />
                        <path
                            d="M52.0557 16.8665V11.0244C52.0557 5.51772 47.6038 1.04731 42.0972 1.02447L36.1892 0.999959"
                            stroke="currentColor"
                        />
                        <path
                            d="M16.7092 48.914H37.9709C43.4938 48.914 47.9709 44.4369 47.9709 38.914V17.0239"
                            stroke="currentColor"
                        />
                        <path
                            d="M5.07737 37.6L5.07828 15.069C5.07851 9.54649 9.55534 5.06966 15.0779 5.06943L36.8118 5.06851"
                            stroke="currentColor"
                        />
                        <path
                            d="M10.5 42.5L10.7815 34.478C10.9445 29.8319 17.3461 28.7234 19.0617 33.0443V33.0443C20.6844 37.131 26.6719 36.4257 27.3005 32.0737L28.4273 24.2726C29.0214 20.1597 34.9002 20.0011 35.7152 24.0759V24.0759C36.5468 28.2341 42.5831 27.9505 43.0213 23.7328L44.5 9.5"
                            stroke="currentColor"
                        />
                    </svg>
                </div>
                <h3 class="main-card__title">Гибкость обучения</h3>
            </div>
            <p class="main-card__text">
                Занятия можно проводить в удобное время
                в зависимости от ваших предпочтений
            </p>
        </div>
        <div class="main-card main-card-4">
            <div class="main-card__top">
                <div class="main-card__icon">
                    <svg viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.00022 37.4456V42.9979C1.00022 48.5207 5.47737 52.9979 11.0002 52.9979H16.8667"
                            stroke="currentColor"
                        />
                        <path
                            d="M3.16318 28.8354L3.14416 12.8985C3.13755 7.36528 7.62559 2.87847 13.1588 2.88659L40.4293 2.92663C45.9418 2.93472 50.4081 7.40222 50.4147 12.9147L50.4478 40.6739C50.4544 46.2072 45.9664 50.694 40.4331 50.6859L13.1626 50.6458C7.65016 50.6377 3.18388 46.1702 3.1773 40.6578L3.16318 28.8354Z"
                            stroke="currentColor"
                        />
                        <path
                            d="M52.0555 16.8665V11.0244C52.0555 5.51772 47.6036 1.04731 42.0969 1.02447L36.189 0.999959"
                            stroke="currentColor"
                        />
                        <path
                            d="M16.709 48.914H37.9707C43.4935 48.914 47.9707 44.4369 47.9707 38.914V17.0239"
                            stroke="currentColor"
                        />
                        <path
                            d="M5.07737 37.6L5.07828 15.069C5.07851 9.54649 9.55534 5.06966 15.0779 5.06943L36.8118 5.06851"
                            stroke="currentColor"
                        />
                        <g clip-path="url(#clip0_102_102)">
                            <path
                                d="M19.5819 13.0827C19.4391 13.1483 19.3225 13.2654 19.2642 13.4052C19.2234 13.4994 19.2176 14.1816 19.2176 19.8358V26.1579H16.8945C15.3438 26.1579 14.5306 26.1693 14.4577 26.1893C14.3032 26.2293 14.1312 26.392 14.0671 26.5518C14.0176 26.6745 14.0146 26.8115 14.0146 28.2986V29.9141L14.0904 30.0539C14.1342 30.1396 14.2129 30.2309 14.2886 30.2823L14.414 30.3679L16.807 30.3822L19.203 30.3965L19.2117 31.5581L19.2176 32.7198L16.8507 32.7284L14.481 32.7369L14.3615 32.7997C14.2945 32.834 14.207 32.9025 14.1662 32.9481C14.0176 33.1222 14.0146 33.1479 14.0146 34.6207C14.0146 35.3742 14.0263 36.0393 14.038 36.0992C14.0671 36.2362 14.2391 36.4246 14.3936 36.4931C14.5043 36.5416 14.6501 36.5473 16.8653 36.5473H19.2176V38.5367C19.2176 40.4034 19.2234 40.5375 19.2729 40.6431C19.34 40.7887 19.5032 40.9314 19.646 40.9685C19.8064 41.0142 23.2983 41.0113 23.4469 40.9685C23.5927 40.9229 23.753 40.7944 23.8317 40.6488L23.8958 40.529L23.9046 38.5367L23.9133 36.5473H29.1075C34.0685 36.5473 34.3075 36.5445 34.4182 36.4931C34.564 36.4303 34.7126 36.2676 34.7534 36.1277C34.7768 36.0535 34.7826 35.5655 34.7768 34.5722L34.768 33.1279L34.6806 33.0052C34.6281 32.931 34.5348 32.8539 34.4474 32.8111L34.3046 32.7369L29.1075 32.7284L23.9104 32.7226V31.5524V30.385L27.8833 30.3736C31.3052 30.3651 31.8998 30.3565 32.1884 30.3194C33.844 30.0939 35.0303 29.68 36.2108 28.9123C36.7005 28.5954 36.9949 28.3585 37.4613 27.9161C38.9041 26.5347 39.7028 24.8792 39.9272 22.8042C39.9826 22.279 39.9826 21.1316 39.9272 20.6093C39.6998 18.5114 38.8662 16.8132 37.3738 15.4117C36.0622 14.1816 34.4066 13.4109 32.4945 13.1455C31.6842 13.0313 31.4655 13.0285 25.5019 13.0285C19.9142 13.0285 19.6956 13.0313 19.5819 13.0827ZM30.9496 17.2841C32.133 17.384 33.1037 17.7922 33.8615 18.5086C34.2375 18.8654 34.4824 19.1879 34.6951 19.6075C34.8875 19.9871 34.9866 20.2639 35.0799 20.6892C35.1382 20.9432 35.144 21.0631 35.144 21.7053C35.1469 22.3589 35.1382 22.4645 35.0799 22.7328C34.8788 23.6291 34.5144 24.2827 33.8673 24.8963C33.1007 25.6213 32.1768 26.0209 31.0079 26.1294C30.8068 26.1465 29.4135 26.1579 27.3003 26.1579H23.9104V21.7053V17.2527H27.2566C29.3173 17.2527 30.7339 17.2641 30.9496 17.2841Z"
                                fill="currentColor"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_102_102">
                                <rect width="26" height="28" fill="white" transform="translate(14 13)" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <h3 class="main-card__title">Доступные цены</h3>
            </div>
            <p class="main-card__text">
                Широкий диапазон цен позволяет найти&nbsp;репетитора для любого бюджета
            </p>
        </div>
        <div class="main-card main-card-5">
            <div class="main-card__top">
                <div class="main-card__icon">
                    <svg viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.00023 37.447V43C1.00023 48.5228 5.47738 53 11.0002 53H17.1602"
                            stroke="currentColor"
                        />
                        <path
                            d="M3.20312 28.8364L3.18373 12.8961C3.17701 7.36383 7.66351 2.87836 13.1958 2.88633L41.3406 2.92691C46.854 2.93486 51.3218 7.40368 51.3285 12.9171L51.3622 40.6783C51.369 46.2106 46.8825 50.6961 41.3501 50.6881L13.2054 50.6475C7.69202 50.6395 3.22419 46.1707 3.21749 40.6574L3.20312 28.8364Z"
                            stroke="currentColor"
                        />
                        <path
                            d="M53.0003 16.8672V11.0252C53.0003 5.51827 48.5479 1.04773 43.041 1.02531L36.8403 1.00005"
                            stroke="currentColor"
                        />
                        <path
                            d="M17 48.9158H38.8399C44.3627 48.9158 48.8399 44.4386 48.8399 38.9158V17.0244"
                            stroke="currentColor"
                        />
                        <path
                            d="M5.15336 37.6015L5.15429 15.0658C5.15452 9.54462 9.62926 5.06991 15.1505 5.06968L37.4747 5.06876"
                            stroke="currentColor"
                        />
                        <g clip-path="url(#clip0_141_52)">
                            <path
                                d="M21.9053 13.4762C21.3076 13.5868 20.8118 13.833 20.2282 14.3114C19.081 15.2517 18.6702 16.4796 19.1008 17.6827C19.4974 18.7917 20.6673 19.9781 22.3982 21.029L22.8033 21.2752L19.0583 21.289L15.3161 21.3028L15.1603 21.3775C14.9563 21.4743 14.775 21.6513 14.6816 21.8421L14.6079 21.9942V24.8151V27.636L14.6872 27.7909C14.7722 27.9624 14.9507 28.1394 15.1235 28.2251C15.2481 28.2887 15.5088 28.3413 15.6901 28.3413H15.8119L15.8175 34.0882L15.826 39.8323L15.8997 39.9872C15.996 40.1863 16.1716 40.3577 16.3756 40.4518L16.5342 40.5237H26.435H36.3357L36.4944 40.4518C36.6983 40.3577 36.874 40.1863 36.9703 39.9872L37.0439 39.8323L37.0524 34.0909L37.0581 28.3496L37.2904 28.3274C37.4179 28.3191 37.5878 28.2832 37.67 28.2555C37.8683 28.1809 38.0751 27.9956 38.1771 27.7964L38.2621 27.636V24.8151V21.9942L38.1884 21.8421C38.0949 21.6485 37.9193 21.4771 37.7153 21.3803L37.5538 21.3028L34.1544 21.289L30.7551 21.2752L30.9817 21.1203C31.4859 20.7746 31.8825 20.4538 32.2848 20.0583C32.8825 19.4748 33.2111 19.0046 33.4094 18.4432C33.5001 18.1832 33.5029 18.1667 33.5001 17.7214C33.5001 17.2955 33.4944 17.2485 33.4207 17.0438C33.1743 16.3441 32.5397 15.6942 31.721 15.3043C31.3075 15.1051 31.0185 15.0332 30.5709 15.0194C30.1063 15.0028 29.823 15.0581 29.4265 15.2434C28.4123 15.7136 27.5341 16.9636 26.9307 18.8C26.8741 18.9742 26.8231 19.1235 26.8174 19.1263C26.8117 19.1318 26.7806 19.0461 26.7466 18.9327C26.4718 17.998 26.0865 17.0134 25.7126 16.2695C25.2764 15.4121 24.8911 14.859 24.3812 14.3612C23.9336 13.9242 23.4577 13.6422 22.9591 13.5149C22.6701 13.4403 22.1829 13.4237 21.9053 13.4762ZM22.6928 15.4149C23.2792 15.6942 23.9874 16.8613 24.5766 18.5234C24.7126 18.9023 25.0412 19.9754 25.1149 20.2768C25.1347 20.3542 25.129 20.3515 24.6871 20.1275C23.4747 19.5107 22.3302 18.7419 21.673 18.1086C20.9506 17.4089 20.7155 16.8419 20.9506 16.3635C21.1404 15.968 21.7042 15.4923 22.1404 15.3513C22.299 15.3015 22.5058 15.3264 22.6928 15.4149ZM30.8712 17.0023C31.3075 17.2153 31.5907 17.5057 31.5907 17.738C31.5907 17.8735 31.4689 18.1252 31.299 18.3437C31.0412 18.6783 30.4859 19.1512 29.8117 19.6103C29.4265 19.873 28.5086 20.4178 28.486 20.3985C28.4491 20.3598 28.8202 19.1927 29.0412 18.6479C29.2905 18.0339 29.6446 17.4421 29.9222 17.171C30.2451 16.8585 30.4916 16.8143 30.8712 17.0023ZM24.707 24.7598V26.35H20.6135H16.5201V24.7598V23.1696H20.6135H24.707V24.7598ZM36.3499 24.7598V26.35H32.3131H28.2763V24.7598V23.1696H32.3131H36.3499V24.7598ZM24.707 33.0704V38.6569H21.2226H17.7382V33.0704V27.4839H21.2226H24.707V33.0704ZM35.1318 33.0704V38.6569H31.704H28.2763V33.0704V27.4839H31.704H35.1318V33.0704Z"
                                fill="currentColor"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_141_52">
                                <rect
                                    width="23.7391"
                                    height="27.1304"
                                    fill="white"
                                    transform="translate(14.5654 13.4348)"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <h3 class="main-card__title">Акции и бонусы</h3>
            </div>
            <p class="main-card__text">
                Регулярные акции, скидки на первые занятия и бонусы для постоянных клиентов
            </p>
        </div>
        <div class="main-card__large main-card-6">
            <div class="main-card__image">
                <svg
                    width="164"
                    height="167"
                    viewBox="0 0 164 167"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1.00005 117V146.5C1.00005 157.546 9.95435 166.5 21 166.5H51.5"
                        stroke="currentColor"
                    />
                    <path
                        d="M7.88547 89.5951L7.81075 27.0116C7.79753 15.9451 16.7736 6.97145 27.8401 6.98769L138.293 7.14986C149.318 7.16604 158.251 16.1011 158.264 27.126L158.397 139.135C158.411 150.201 149.435 159.175 138.368 159.158L27.9151 158.996C16.8902 158.98 7.95764 150.045 7.94449 139.02L7.88547 89.5951Z"
                        stroke="currentColor"
                    />
                    <path
                        d="M163.5 51.5V21.1267C163.5 10.1134 154.596 1.17254 143.583 1.12686L113 1"
                        stroke="currentColor"
                    />
                    <path
                        d="M51 153.5H130.5C141.546 153.5 150.5 144.546 150.5 133.5V52"
                        stroke="currentColor"
                    />
                    <path
                        d="M13.9767 117.49L13.9801 33.951C13.9805 22.906 22.9342 13.9523 33.9792 13.9518L114.981 13.9484"
                        stroke="currentColor"
                    />
                    <path
                        d="M80.2077 31.1857C69.5256 32.1074 60.3088 40.1189 57.6147 50.7773C57.1893 52.4789 57.1184 53.4715 57.1184 57.04C57.1184 60.8686 57.1893 61.5303 57.7329 63.5627C59.9543 71.7869 66.3352 78.7113 74.2286 81.4527C77.2299 82.4926 79.1915 82.7998 82.8545 82.7998C86.5176 82.7998 88.4791 82.4926 91.4805 81.4527C95.309 80.1293 98.4758 78.026 101.572 74.8119C105.14 71.1016 107.031 67.5803 108.307 62.3574C108.496 61.5303 108.614 59.5924 108.614 56.9219C108.591 53.4479 108.52 52.4553 108.071 50.7064C107.007 46.4053 104.857 42.5059 101.761 39.2445C96.0889 33.2182 88.7155 30.4531 80.2077 31.1857Z"
                        fill="currentColor"
                    />
                    <path
                        d="M55.2042 78.8059C51.7301 79.5149 48.6579 80.8619 46.4364 82.6344C43.3169 85.1395 40.1264 90.1969 38.4485 95.2307C36.7469 100.383 35.8016 105.913 35.4708 112.908C35.1399 119.856 35.5417 122.621 37.4087 126.237C39.0157 129.333 42.0171 131.956 45.562 133.374C48.8942 134.721 47.8071 134.674 82.8546 134.674C111.332 134.674 115.35 134.627 116.957 134.296C123.078 133.043 127.544 129.262 129.388 123.756C130.333 120.967 130.546 118.036 130.262 112.554C129.648 101.517 127.544 93.6473 123.527 87.4082C120.147 82.1854 114.972 79.0895 108.969 78.735C106.322 78.5696 106.653 78.4514 101.855 81.5237C96.9633 84.6905 93.4657 86.2266 88.7628 87.3137C85.8796 87.9991 79.3569 87.9282 76.4737 87.2192C71.7944 86.0375 68.793 84.6905 63.8538 81.5237C59.3872 78.6405 59.4108 78.6641 57.402 78.6877C56.4567 78.7114 55.4641 78.7586 55.2042 78.8059Z"
                        fill="currentColor"
                    />
                </svg>
            </div>
            <div class="main-card__content">
                <h3 class="main-card__title">Сообщество</h3>
                <p class="main-card__text">
                    Мы активно развивает сообщество учеников и репетиторов, где можно делиться опытом,
                    задавать вопросы и получать поддержку
                </p>
            </div>
        </div>
    </div>
</section>

<section class="search-section">
    <div class="search-section__wrapper">
        <img class="search-section__img" src="/images/main_page/search-friends.png">
        <div class="search-section__content">
            <h2 class="search-section__title">Действуй <span>сейчас</span></h2>
            <p class="search-section__text">
                Найди своего преподавателя
                и двигайся со своими единомышленниками
            </p>
            <a href="/tutors" class="search-section__search-button primary-button">Поиск</a>
        </div>
    </div>
</section>

<section class="coming-soon">
    <div class="coming-soon__content">
        <h2 class="coming-soon__title">
            <span class="text-gradient">Новые курсы</span>
            <svg class="rocket-icon" viewBox="0 0 24 24">
                <path d="M13.13 22.19L11.5 18.36C13.07 17.78 14.54 16.97 15.9 16L17.5 19.83C15.5 20.85 13.84 21.63 13.13 22.19M12 5C12 5 17 4 15 2C15 2 2.91 9.73 2 12C3.5 12.06 8.12 12 12 12C12 8.61 12 5 12 5M18 15C19.04 13.8 19.9 12.45 20.55 11L18.88 8.37C17.41 9.17 16.53 10.45 16.14 11.77C17.22 12.54 18.3 13.24 19.38 13.85C19.18 14.37 18.93 14.89 18.62 15.4L18 15M10.87 22.19L9.5 19.83C6.5 18.81 4.69 17.15 3 15.4L2.38 15C2.07 14.89 1.82 14.37 1.61 13.85C2.69 13.24 3.77 12.54 4.86 11.77C4.47 10.45 3.59 9.17 2.12 8.37L0.45 11C1.1 12.45 1.96 13.8 3 15L5.5 19.83L7.13 22.19C6.84 21.63 5.5 20.85 3.5 19.83L5.1 16C6.46 16.97 7.93 17.78 9.5 18.36L7.87 22.19C8.5 21.41 9.23 20.65 10.03 19.93C10.37 20.43 10.73 20.91 11.1 21.35L10.87 22.19Z"/>
            </svg>
        </h2>

        <div class="countdown-timer">
            <div class="timer-item">
                <div class="timer-number" id="days">00</div>
                <div class="timer-label">Дней</div>
            </div>
            <div class="timer-item">
                <div class="timer-number" id="hours">00</div>
                <div class="timer-label">Часов</div>
            </div>
            <div class="timer-item">
                <div class="timer-number" id="minutes">00</div>
                <div class="timer-label">Минут</div>
            </div>
        </div>

        <p class="coming-soon__text">Мы готовим уникальные образовательные программы с:</p>

        <div class="features-grid">
            <div class="feature-card">
                <div class="feature-icon">🎯</div>
                <h3>Персональным подходом</h3>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🚀</div>
                <h3>Интерактивными уроками</h3>
            </div>
            <div class="feature-card">
                <div class="feature-icon">📈</div>
                <h3>Трекингом прогресса</h3>
            </div>
        </div>

        <div class="notify-form">
            <input type="email" placeholder="Ваш email" class="email-input">
            <button class="notify-button">
                <span>Сообщить мне</span>
                <svg class="send-icon" viewBox="0 0 24 24">
                    <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
                </svg>
            </button>
        </div>

    </div>
</section>