<div class="profile__header">
    <div class="profile__image-wrapper">
        <img
            id="profileImage"
            class="profile__image"
            src="{{#if user.profileImageUrl}}{{user.profileImageUrl}}{{else}}../images/default-avatar.png{{/if}}"
            alt="Profile Photo"
        />
    </div>

    <div class="profile__info">
        <div class="profile__name">
            <span id="studentNameDisplay" class="profile__name-text">{{user.firstname}}</span>
            <span id="studentSurnameDisplay" class="profile__name-text">{{user.lastname}}</span>
        </div>
        <div class="profile__age">
            <span id="studentAgeDisplay" class="profile__age-text"></span>
        </div>
    </div>

    <button class="profile__edit-btn" id="editModeBtn">
        <span>Изменить</span>
        <svg
            class="edit-btn__penImage" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125"
                stroke="currentColor"
                stroke-width="1.2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
</div>

<div class="grades">
    <h2 class="grades__title">Успеваемость</h2>
    <div class="subjects">
        {{#each assignments}}
            {{> subject_card}}
        {{/each}}
    </div>
</div>
<!-- Subject Modal -->
<div class="modal hidden" id="subjectModal">
    <div class="modal__content">
        <button class="modal__close" aria-label="Close modal">&times;</button>
        <h2 class="modal__title" id="modalTitle"></h2>
        <div class="modal__body">
            <div class="modal__section">
                <h3 class="modal__subtitle">График успеваемости</h3>
                <div class="modal__chart"></div>
            </div>
            <div class="modal__section">
                <h3 class="modal__subtitle">Предстоящие задания</h3>
                <ul class="modal__tasks" id="tasksList"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal hidden" id="editProfileModal">
    <div class="modal__content">
        <button class="modal__close" aria-label="Close modal">&times;</button>
        <div class="modal__body">
            <div class="edit-profile">
                <div class="edit-profile__image">
                    <div class="edit-profile__image-preview">
                        <img id="imagePreview" src="../images/default-avatar.png" alt="Preview" />
                    </div>
                    <input type="file" id="imageUpload" accept="image/*" class="edit-profile__image-input" />
                    <label for="imageUpload" class="edit-profile__image-label">Выбрать фото</label>
                </div>
                <div class="edit-profile__form">
                    <div class="edit-profile__field">
                        <label for="studentName" class="edit-profile__label">Имя</label>
                        <input
                            type="text"
                            id="studentName"
                            class="edit-profile__input"
                            placeholder="Введите имя"
                        />
                    </div>
                    <div class="edit-profile__field">
                        <label for="studentSurname" class="edit-profile__label">Фамилия</label>
                        <input
                            type="text"
                            id="studentSurname"
                            class="edit-profile__input"
                            placeholder="Введите фамилию"
                        />
                    </div>
                    <div class="edit-profile__field">
                        <label for="studentAge" class="edit-profile__label">Возраст</label>
                        <input
                            type="number"
                            id="studentAge"
                            class="edit-profile__input"
                            min="6"
                            max="25"
                            placeholder="Введите возраст"
                        />
                    </div>
                    <button class="edit-profile__submit" id="saveProfileBtn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
