<div class="overlay" id="overlay">
    <div class="spinner" id="spinner"></div>
</div>
<div class="sign-up__wrapper">
    <form class="sign-up__form" id="signUpForm">
        <span class="sign-up__title">Create Account</span>
        <label class="form__label">
            <input class="form__input" type="text" name="firstname" placeholder="Name">
        </label>
        <label class="form__label">
            <input class="form__input" type="email" name="email" placeholder="Email" required>
        </label>
        <label class="form__label">
            <input class="form__input" type="password" name="password" placeholder="Password" required>
        </label>
        <label class="form__label">
            <input
                class="form__input"
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                required
            >
        </label>
        <div class="role-selector">
            <div class="role-option">
                <input type="radio" id="teacher" name="role" value="TUTOR" required />
                <label for="teacher">Преподаватель</label>
            </div>
            <div class="role-option">
                <input type="radio" id="student" name="role" value="STUDENT" required />
                <label for="student">Студент</label>
            </div>
        </div>
        <button class="primary-button" type="submit">Создать аккаунт</button>
    </form>
</div>
